{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    <div class="btn-group">
        <h1 class="text-muted">Location</h1><h1 class="text-primary">></h1><h1>Edit</h1>
    </div>

    {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="container text-center">
        <div class="btn-group">
            <a href="{{ path('app_location_index') }}"><button type="button" class="btn btn-outline-secondary m-1">Back to list</button></a>
            {{ include('location/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
